*{
  box-sizing: border-box;
}
body{
  font-family: 'Righteous', cursive;
  background-color: black;
  color: white;
}
li{
  list-style: none;
}
.menu-1{
  list-style: none;
  opacity: 0;
  display: flex;
  padding:0;
}
.social-icon{
  width:15px;
}
.social-icon:hover{
  transform: scale(1.1);
}
.menu{
  padding: 0 1.5%;
  color: white;
  text-decoration: none;
  /* font-size: 2em; */
  transition: 0.2s ease-in-out;
}
.menu:hover{
  color: #ff4162;
}
.about-text{
  font-size: 1.2em;
  opacity:0;
  /* max-width: 50%; */
  padding: 0 5%;
}
.work-box,.skills{
  opacity:0;
  padding: 0 5%;
}
.skills-li{
  padding:3%;
  margin:auto;
  animation-iteration-count: infinite;
  animation-name: upDown;
  animation-duration: 3s;
  transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.skill-svg{
  width: 100px;
}
.skills-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.pink{
  color:#ff4162;
}
.big-name-1,.big-name-2,.big-name-3,.big-name-4,.big-name-5,.big-name-6,.big-name-7,.big-name-8,.big-name-9,.big-name-10,.big-name-11,.big-name-k,.big-name-g{
    font-size: 3em;
    opacity:0;
    animation-duration: 3s;
    animation-name: slidein;
    transition: 0.2s ease-in-out;
}
.load-name{
      font-size: 3em;
      opacity:0;
      animation-duration: 3s;
      transition: 0.2s ease-in-out;
}
.big-name-2{
  animation-delay: 1s;
}
.big-name-3{
  animation-delay: 1.5s;
}
.big-name-4,.big-name-g{
  animation-delay: 2s;
}
.big-name-g{
  color: #ff4162;
}
.big-name-5{
  color: #ff4162;
  animation-delay: 2.5s;
}
.big-name-6,.big-name-k{
  animation-delay: 3s;
}
.big-name-7{
  animation-delay: 3.5s;
}
.big-name-8{
  animation-delay: 4s;
}
.big-name-9{
  animation-delay: 4.5s;
}
.big-name-10{
  animation-delay: 5s;
}
.big-name-11{
  animation-delay: 5.5s;
}

.cover{
  max-width: 250px;
  opacity: 0.7;
  transition: 0.3s;
}
.cover:hover{
  opacity: 1;
}



/* Keyframes */
@keyframes slidein {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

/* @keyframes upDown {
  0% {
    transform: translateY(250px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(250px);
  }
} */

@media(min-width:720px){
  .about-text{
    font-size: 1.5em;
    max-width: 50%;
  }
  .big-name-1,.big-name-2,.big-name-3,.big-name-4,.big-name-5,.big-name-6,.big-name-7,.big-name-8,.big-name-9,.big-name-10,.big-name-11,.big-name-k,.big-name-g{
    font-size: 10em;
  }
  .load-name{
    font-size: 10em;
  }
  .menu{
    font-size: 2em;
  }
  .social-icon{
    width:25px;
  }
  .skills-list{
    flex-direction: row;
  }
}
